/*********************Serach CSS Start*************/
.search_content{
    min-height: 50px;
    /*padding: 10px;*/
    padding:0px 10px 10px 0px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border: 1px solid #d2d6de;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 25px;
}
.search_box{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    /*border-top: 3px solid #d2d6de;*/
    margin-bottom: 10px;
    width: 100%;
    //box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding-top: 20px;

}
.search_box .serach input {
    
    padding: 5px;
    border: 0px;
    font-size: 16px;

}
.search_form  {
    border: 1px solid #d7d7d7;
    padding: 6px;
    width: 100%;
    margin-bottom: 10px;

}

.search_box p {
    font-size: 14px;
    font-weight: 400;
    color: #515050;
}
.button_align {
    float: right;
    margin-right: 10px;
    background-color: #006699;
    color: #fff;
    margin-top : 10px;
}

.button_align:hover{
    background-color: #009999;
    color: #fff;
}
.search_align{
    float: right;
    margin-right: 10px;
    background-color: transparent;
    border: none;
}

 .row .second {
    padding-top: 20px;
  }

/*********************Serach CSS End*************/
