<div class="login-form">
    <!-- <ngx-spinner
        bdOpacity="0.3"
        bdColor="#333"
        size="medium"
        color="#fff"
        type="ball-atom"
        [fullScreen]="true"
    >
        <p style="color: white">fetching data...</p>
    </ngx-spinner> -->

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 left-side"></div>
            <div
                class="col-xl-7 col-lg-7 col-md-7 col-sm-6 col-xs-12 right-side"
            >
                <div class="form-title">
                    <h3>Change<span>Password</span></h3>
                </div>
                <div></div>
                <form
                    class="form-style"
                    [formGroup]="resetPasswordForm"
                    (ngSubmit)="onFormSubmit()"
                >
                    <div class="form-group">
                        <label for="email">Email Id</label>
                        <input 
                            type="email"
                            formControlName="email"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid': submitted && fval.email.errors
                            }"

                        />
                        <div
                            *ngIf="submitted && fval.email.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="fval.email.errors.required">
                                Email is required !
                            </div>
                            <div *ngIf="fval.email.errors.email">
                                Email is not valid !
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input
                            [type]="!show ? 'password' : 'text'"
                            formControlName="password"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid': submitted && fval.password.errors
                            }"
                            placeholder="Enter password here"
                        />
                        <div
                            *ngIf="submitted && fval.password.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="fval.password.errors.required">
                                Password is required !
                            </div>
                            <div *ngIf="fval.password.errors.minlength">
                                Password must be of minimum 8 characters length
                                !
                            </div>
                        </div>
                    </div>
                    <div class="m-1 p-1">
                        <input type="checkbox" (click)="toggleEve($event)" />
                        &nbsp;
                        <span *ngIf="show">Hide password</span>
                        <span *ngIf="!show">Show password</span>
                    </div>
                    <!-- <div class="form-group">
                        <label for="cnfpsd">Confirm Password</label>
                        <input
                            type="password"
                            formControlName="confirmPassword"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid': submitted && fval.confirmPassword.errors
                            }"
                            placeholder="Enter confirm password here"
                        />
                        <div
                            *ngIf="submitted && fval.confirmPassword.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="fval.confirmPassword.errors.required">
                             Confirm Password is required !
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span
                                *ngIf="loading"
                                class="spinner-border spinner-border-sm mr-1"
                            ></span>
                            Submit
                        </button>
                        <a routerLink="/login" class="btn btn-link"
                            >Return to login
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- </ng-template> -->
</div>
