.login-form
{
    background-image: url("../../assets/images/login-image1.jpg");
    background-size: cover;
    height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;

}

.right-side
{
    background: #fff;
    padding:30px;
    margin:50px 0;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.left-side
{
    padding: 50px;
    margin: 50px 0;
    left: 7%;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    
    text-align: center;
}
.form-title
{
  text-align: center;
}
.right-side span
{
  color:#aa0079;
}
.form-foot
{
    display: flex;
}
.login-btn
{
    text-align: center;
}
.login-btn button
{
    padding: 8px 70px;
}
.pass
{
    margin-bottom: 30px;
}
.forg-pass
{
    margin-top: 20px;
}

@media only screen and (min-width: 768px)
{
    .form-style
    {
        padding: 50px 70px!important;
    }
    
}

@media only screen and (max-width: 767px)
{
    .left-side
    {
        display: none;
    }
    .right-side {
        margin: 50px 25px!important;
    }
    .form-style
    {
        padding: 30px 0px!important;
    }
}
 
