.footer {
    position: fixed;
    // left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    //background: #073857;
    background: #074f73;//#00004d;
    //box-shadow: inset 0 0 40px #000000;
    text-align: center;
    padding-right: 10px;
    margin: 0 auto;
    z-index: 10000;
}

.content-center {      
    color: #fff;
    letter-spacing: 1px;
    font-family: monospace;
    //font-style: italic;
    font-size: 16px;
}

#author {
    color: #0a0a2c;
    font-size: 8px;
    bottom: -26px;
    left: 0%;
    position: fixed;
}

a {
    text-decoration: none;
}

img  {
    width: 50px;
    background: transparent;
}

#cpy-set {
    transform: scale(1.1, 1.1);
    display:inline-block;
}