<div class="landing-page">
<nav class="navbar justify-content-between">
    <!-- <a class="navbar-brand">Navbar</a> -->
    <a class="navbar-brand txt-clr" href="javascript:;">
        <img src="../../assets/images/sweekar.png" class="img-st" alt="bmrc-logo"/>&nbsp;
            <span>SWEEKAR</span>
        </a>
    <form class="form-inline">
        <a href="javascript:;">
            <img src="../../assets/images/cdac-logo.png" class="cdacLogo"/>
            <span class="cdac-logo">CDAC</span>
        </a>
    </form>
</nav>






<div class="login-form bkg-color d-flex align-items-center text-center">
    <div class="container ">
        
                <form [formGroup]="changeFirstPassword" (ngSubmit)="onFormSubmit()" class="form-style">
                    <!-- <a [routerLink]="/login" >
                        <span id="home-btn" class="fa fa-long-arrow-left pull-left btn btn-outline-primary">Back</span>
                    </a> -->
                    <h4 id="mgr-top">Change Default Password</h4>
                    <hr>
                    <div *ngIf="errMessage" class="alert alert-danger">
                        {{ errMessage }}
                    </div>
                    <div class="frm-wd">
                        <div class="form-group ">
                            <label>Username :<strong> {{username}}</strong></label>                             
                        </div>

                        <div class="form-group ">
                            <label for="oldPassword" class="required">Old Password</label>
                            <input #myinput type="password" formControlName="oldPassword" class="form-control" placeholder="Enter Old Password here" 
                            [ngClass]="{'is-invalid': submitted && fval.oldPassword.errors}" />
                            <div *ngIf="submitted && fval.oldPassword.errors" class="invalid-feedback" >
                                <div *ngIf="changeFirstPassword.controls.oldPassword.errors && changeFirstPassword.controls.oldPassword.errors.required" >
                                    {{ changeFirstPassword.controls.oldPassword.errors.required.message }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" formControlName="newPassword" class="form-control" placeholder="Enter New Password here" [ngClass]="{'is-invalid': submitted && fval.newPassword.errors}" />
                            <div *ngIf="submitted && fval.newPassword.errors" class="invalid-feedback" >
                                <div *ngIf="changeFirstPassword.controls.newPassword.errors && changeFirstPassword.controls.newPassword.errors.required" >
                                    {{ changeFirstPassword.controls.newPassword.errors.required.message }}
                                </div>
                                <div *ngIf="changeFirstPassword.controls.newPassword.errors && changeFirstPassword.controls.newPassword.errors.compare">
                                    {{ changeFirstPassword.controls.newPassword.errors.compare.message }}
                                </div>
                                <div *ngIf="changeFirstPassword.controls.newPassword.errors && changeFirstPassword.controls.newPassword.errors.pass" >
                                    {{ changeFirstPassword.controls.newPassword.errors.pass.message }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirmNewPassword">Confirm New Password</label>
                            <input type="password" formControlName="confirmNewPassword" class="form-control" placeholder="Enter Confirm Password here" [ngClass]="{'is-invalid': submitted && fval.confirmNewPassword.errors}" />
                            <div *ngIf="submitted && fval.confirmNewPassword.errors" class="invalid-feedback" >
                                <div *ngIf="changeFirstPassword.controls.confirmNewPassword.errors && changeFirstPassword.controls.confirmNewPassword.errors.required" >
                                    {{ changeFirstPassword.controls.confirmNewPassword.errors.required.message }}
                                </div>
                                <div *ngIf="changeFirstPassword.controls.confirmNewPassword.errors && changeFirstPassword.controls.confirmNewPassword.errors.compare">
                                    {{ changeFirstPassword.controls.confirmNewPassword.errors.compare.message }}
                                </div>
                            </div>
                        </div>
                    


                        <div class="form-group submit-btn">
                            <button class="btn btn-primary text-center">Submit</button>
                        </div>

                    </div>  

                </form> 

        
    </div>
</div>



</div>
<!-- landing page ends here -->

