<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
    <div class="list-group">
        <!-- admindashboard -->
        <a [routerLink]="['ptodashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>
            <span>{{ "Dashboard" }}</span>
        </a>

        <!-- <a [routerLink]="['manage-file-upload-pto']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-upload"></i>
            <span>{{ "Manage File Upload" }}</span>
        </a> -->
        <!-- <a [routerLink]="['stop-list-pto']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list"></i>
            <span>{{ "Stops List" }}</span>
        </a> -->

        <!-- <a [routerLink]="['route-stop-list-pto']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list"></i>
            <span>{{ "Route Stops List" }}</span>
        </a> -->

        <a [routerLink]="['assigned-requester-list']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list"></i>
            <span>{{ "Assigned Requester List" }}</span>
        </a>

        <a [routerLink]="['ticket-history-pto']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list"></i>
            <span>{{ "Ticket History" }}</span>
        </a>


        <!-- Create PTO from admin -->
        <!-- <div class="nested-menu" >
            <a class="list-group-item" (click)="addExpandClass('list1')">
                <i class="fa fa-users"></i>&nbsp;
                <span>Manage PTO</span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'list1'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['ptodashboard']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-user-plus"></i>&nbsp;
                            <span>{{ "Add PTO" }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['pto-list']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-list"></i>&nbsp;
                            <span>{{ "PTO List" }}</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
        </div> -->

        

        

        

        
        <!-- siderbar username and settings -->

        <div class="header-fields" style="display: none;">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user p-left"></i>{{ username | titlecase }}</span>
                    <b class="caret ml-10"></b>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['edit-profile']" class="dropdown-item">
                                <i class="fa fa-fw fa-user"></i>
                                {{ "View Profile" }}
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['privacy']" class="dropdown-item">
                                &nbsp;<i class="fa fa-lock"></i> &nbsp;{{
                                "Forgot Password"
                                }}
                            </a>
                        </li>
                        <!-- <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li> -->
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i>
                                    {{ "Log Out" }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>

        <!-- toggle button -->

        <div class="toggle-button" [ngClass]="{ collapsed: collapsed }" (click)="toggleCollapsed()">
            <i class="fa fa-bars {collapsed?'right':'left'}}" style="padding-left: 10px"></i>&nbsp;
            <span>{{ "Collapse"  }}</span>
        </div>
    </div>
</nav>