<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Route Based Stop List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['/admin/admindashboard']">Home</a></li>
              <li class="breadcrumb-item active">Route Stop List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <hr>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table">
                            <thead class="bg-info">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Stop Name</th>
                                    <th>Stop Id</th>
                                    <th>Stop Latitude</th>
                                    <th>Stop Longitude</th>
                                    <th>Distance From Origin</th>
                                    <th>Last Upload</th>
                                    <th>Fare Stage Number</th>
                                    <th>Distance</th>
                                    <th>Route Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>ELECTRIC HOUSE, COLABA DEPOT</td>
                                    <td>1057</td>
                                    <td>18.921084</td>                
                                    <td>72.830617</td>                
                                    <td>0</td>                
                                    <td>34:33.7</td>                
                                    <td>1</td>                
                                    <td>0</td>                
                                    <td>0021_0</td>                
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>HOLY NAME SCHOOL (COLABA)</td>
                                    <td>1058</td>
                                    <td>18.921084</td>                
                                    <td>72.830617</td>                
                                    <td>0</td>                
                                    <td>34:33.7</td>                
                                    <td>1</td>                
                                    <td>0</td>                
                                    <td>0021_0</td>                
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>DR. SHYAMAPRASAD MUKHERJEE CHOWK(MUSEUM) </td>
                                    <td>1071</td>
                                    <td>18.921084</td>                
                                    <td>72.830617</td>                
                                    <td>0</td>                
                                    <td>34:33.7</td>                
                                    <td>1</td>                
                                    <td>0</td>                
                                    <td>0021_0</td>                
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>OLD CUSTOM HOUSE</td>
                                    <td>1148</td>
                                    <td>18.921084</td>                
                                    <td>72.830617</td>                
                                    <td>0</td>                
                                    <td>34:33.7</td>                
                                    <td>1</td>                
                                    <td>0</td>                
                                    <td>0021_0</td>                
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="card-tools">
                        <ul class="pagination pagination-sm float-right">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>    
            </div>
        </div>
    </section>
</div>
