<div class="landing-page">
    
    <nav class="navbar justify-content-between">
        <!-- <a class="navbar-brand">Navbar</a> -->
        <a class="navbar-brand txt-clr" href="javascript:;">
            <img src="../../assets/images/BEST.png" class="img-st" alt="bmrc-logo"/>&nbsp;
                <span>BEST</span>
        </a>
        <form class="form-inline">
            <a href="javascript:;">
                <img src="../../assets/images/cdac-logo.png" class="cdacLogo"/>
                <span class="cdac-logo">CDAC</span>
            </a>
        </form>
    </nav>

    <div class="body-section container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="font-weight-bold text-white text-42 mb-3 t-shadow">
                    BEST
                </h1>
                <p class="text-20 mb-4">
                    Secure framework for modernizing and continuously improving
                    fare collection and validation systems.
                </p>
                <div class="mb-5 lead">
                    <ul class="list-inline">
                        <li class="mb-3">
                            <i class="fa fa-check text-warning"></i> Secure
                            framework
                        </li>
                        <li class="mb-3">
                            <i class="fa fa-check text-warning"></i> Stable and
                            integrated platforms are provided
                        </li>
                    </ul>
                </div>
                <div class="Buttons">
                    <!-- <a class="btn btn-outline-white btn-lg pl-5 pr-5 pb-2  mr-2 mb-4 text-uppercase half-button" (click)="register()">Register PTO </a> -->
                    <a
                        class="btn btn-login btn-lg pl-5 pr-5 pb-2 mb-4 text-uppercase half-button"
                        (click)="login()"
                        >Login</a
                    >
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <footer class="footer">
        <a href="javascript:;">
            <span class="content-center">
                Powered by Embedded System, C-DAC Noida.
            </span>
            <img src="../../assets/images/cdac-logo.png" class="footer-logo"/>
        </a>
    </footer>
</div>
